body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#landingPage, #shopPage {
    text-align: center;
}

canvas {
    border: 2px solid black;
}

startGameButton {
    padding: 20px
}

#userCanvas,
#opposingCanvas {
    display: none; /* Hide canvases initially */
}

#battleContainer {
    position: relative; /* Ensure positioning context */
}

#userCanvas {
    position: absolute; /* Position it absolutely within the battle container */
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    z-index: 10; /* Ensure it's on top */
    background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red for visibility */
}

#user-team {
    position: relative; /* Ensure it doesn't overlap the canvas */
    z-index: 1; /* Lower z-index than the canvas */
}

